<table class="table w-100">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Salary</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees; let i in index">
        <th scope="row">{{employee.id}}</th>
        <td>{{employee.name}}</td>
        <td>{{employee.age}}</td>
        <td>{{employee.salary}}</td>
       <td><a class="btn btn-block btn-info" [routerLink]="['/employee',employee.id]">Get Info</a></td> 
      </tr>
    </tbody>
  </table>
  <h1 *ngIf="employees.length==0">Please Reload Too many requests</h1>