<form [formGroup]="myForm" (ngSubmit)="onSubmit()" >
    <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="email" formControlName="email" required>
        <mat-error *ngIf="email.invalid">EMail is not valid</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.invalid">password is not valid</mat-error>
      </mat-form-field>
    <button mat-button color="primary" type="submit" [disabled]="myForm.invalid">Login</button>
</form>
